<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Hello!</h2>
        <p class="lead">My name is Ryan Reiss. I am 22, a dual citizen (US-CAN), and am currently living in British Columbia, Canada as I am in my final year at the University of British Columbia.
                        For as long as I can remember, I have always been playing video games, and for that reason around 10 years ago I decided to start learning how to program to make my own video games.
                        I have been making games as a hobby for almost 4 years now and I am finally at the point where I want to take my skills to the next level.
                        To get a full view of my past work experience check out my <a target="_blank" href="https://linkedin.com/in/ryanreiss/">Linked-in</a>.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
